main {
    padding-top: 10%;

}

.header {
    background-color: #011F26;
    padding: 0px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    height: 90px;
    display: flex;
    align-items: center;
}

#icon img {
    width: 60px;
    height: 60px;
    object-fit: contain;
    display: block;
}

.header .btn {
    width: 40px;
    height: 40px;
    padding: 0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: transparent;
    border: 1px solid #ccc;
}

.header .btn img {
    width: 70%;
    height: 70%;
    object-fit: contain;
}

#card-tarefas{
    background-color: #89D1D9;
    box-shadow: black;
}

.card-title {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 0.3rem;
}

#bt1, #bt2 {
    border-radius: 50%;
    padding: 0.3rem;
    background-color: transparent;
    border: none;
}

#btn-ev{
    margin-bottom: 10px;
}

#data {
    font-size: 0.9rem;
    margin-left: auto;
}

#foot {
    background-color: #011F26;
    color: #ffffff;
    font-size: 0.75rem;
    padding: 0.8rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    z-index: 1000;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}